/mods/
/crash-reports/
/resourcepacks
/saves
/schematics
/shaderpacks
/.vscode
/modernfix
/logs
/patchouli_books
/backups
/screenshots
/downloads
/config/jei/world/local
/kubejs/exported
/local
/kubejs/probe
usernamecache.json
usercache.json
options.txt
.curseclient
rhino.local.properties
patchouli_data.json
.qmenu_opened.marker
emi.json
icon.png
config/oculus.properties
