/mods/
/crash-reports/
/resourcepacks
/saves
/schematics
/shaderpacks
/.vscode
/modernfix
/patchouli_books
/backups
/downloads
/config/jei/world/local
/kubejs/exported
/kubejs/probe
usernamecache.json
usercache.json
options.txt
rhino.local.properties
patchouli_data.json

